# Порт сервера
PORT=3000

# Секретный ключ для JWT (измените на случайный в продакшене!)
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Данные ЮKassa (тестовые ключи)
YOOKASSA_SHOP_ID=1221819
YOOKASSA_SECRET_KEY=test_2hVHBJNfZcW8GuLJd2X6E037JgUVcH_nYKl1_IR3028

